<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testpage</title>
    <link rel="stylesheet" th:href="@{/moon/css/bootstrap.css}"/>
</head>
<body>
<span class="glyphicon glyphicon-star">111</span>
<button type="button" class="btn btn-default" aria-label="Left Align">
    <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
</button>

<button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
    <br>

</button>
<span class="glyphicon glyphicon-star" >spanspanspan</span>
<img th:src="@{/productpic/0.jpg}">
<img src="productpic/1.jpg" width="400px">

<br>

<div class="table-bordered" style="width: 400px;height: 300px;">
    <div class="table-bordered" style="height: 100px;width: 300px;margin: auto auto;margin-top: 30px;"></div>
</div>
</body>
</html>